<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046893269035-lu92a8vcb36kjk38vm4u94sjqjs20evd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046893269035-lu92a8vcb36kjk38vm4u94sjqjs20evd</string>
	<key>API_KEY</key>
	<string>AIzaSyA6nhUL0RVOCZpuuPPoashK7RfJnVI0c74</string>
	<key>GCM_SENDER_ID</key>
	<string>1046893269035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Matchup</string>
	<key>PROJECT_ID</key>
	<string>matchup-6e00f</string>
	<key>STORAGE_BUCKET</key>
	<string>matchup-6e00f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046893269035:ios:60b84091f586c871939a6e</string>
	<key>DATABASE_URL</key>
	<string>https://matchup-6e00f.firebaseio.com</string>
</dict>
</plist>